html {
    background: black;
    color: white;
    font-size: 1em;
    line-height: 1.4;
  }
  
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  /* navbar styling ///////////////////////////////////////// */
.navbar{
    display: flex;
    align-items: center;
    background-color: rgba(44, 44, 44, 0.5);
    border: #000 1px solid;
  }
@media(max-width: 768px){
    .navbar{
      flex-direction: column;
      font-size: 1em;
      padding: 15px 0;
    }
    .navbar-item{
      width: 100%;
    }
  }
  .navbar-item{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 20px;
  }
  
  .navbar-item:hover{ /*add a hover effect*/
    color: rgb(128, 128, 128);
  }
  /*Dropdown menu*/
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #222222;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}

  /* end of navbar styling ////////////////////////////// */
  .main-content{
    margin-top: 20px;
    padding-left: 0.5em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    min-height: 100vh;
    font-size: 18px;
  }
  .container-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .container-images img{
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgb(44, 44, 44);
  }
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /* header styling ////////////// */
  header img{
    max-width: 35%;
    width: 35%;
    height: auto;
    display: block;
    margin: 20px auto 10px;
  }
  header p{
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
  }
  header p{
    font-size: 20px;
  }
  /*End of header styling /////////////*/


  /*Article Styling ////////////////*/
  article{
    width: 50%;
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
  }
  article img{
    max-width: 70%;
    width: 70%;
    height: auto;
    display: block;
    margin: 20px auto 10px;
  }
  article h1{
    text-align: center;
    font-size: 30px;
  }
  article p{
    font-size: 20px;
  }
  article a{
    text-decoration: none;
  }
  article a:hover{
    color: #2c2c2c;
}
  article a:visited{
    color:#272727;
}
  footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  footer img{
    max-width: 40%;
    width: 40%;
    height: auto;
    display: block;
    margin: 10px auto;
  }
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }